:root {
    --color1: rgb(248, 248, 248);
    --color2: rgb(3, 112, 107);
    --color3: rgb(216, 223, 226);
    --color4: rgb(167, 36, 36);
    --padding-top: 1.25rem;
    --padding-left: 1.9rem;
    --padding-right: 3.7rem;
    --font-size-1: 1.5rem;
}

html {
    font-size: 16px;
}


body {
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: rgb(28, 28, 28);
}

.grid {
    max-width: 1900px;
    height: 100vh;
    display: grid;
    grid-template-columns: 18.2rem 1fr;
    grid-template-rows: 13.2rem 1fr;
}

.header {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--color1);
    grid-template-rows: 1fr 2fr;
    padding-top: var(--padding-top);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    row-gap: 0.63rem;
}

.search {
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 14fr 7fr;
    align-content: center;
    padding-right: 1.9rem;
}

.searchbar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 16fr;
    align-items: center;
}

#search {
    width: 100%;
    height: 2.5rem;
    border-radius:1rem;
    background-color: var(--color3);
    border: none;
    padding-left: 0.63rem;
}

#search:focus {
    border: 1px solid rgb(240.240,240);
}


.create {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 14fr 7fr;
    align-content: center;
}

#hi {
    display: flex;
    flex-direction: column;
}

.info {
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.9rem;
    font-size: 1.6rem;
    font-weight: 800;
}

#hi > #there {
    font-size: 1rem;
    font-weight: 600;
}

.buttons {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    column-gap: 1.9rem;
}

button {
    border-radius: 1.9rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 0;
    width: 7rem;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--color2);
    color: var(--color1)
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

div {
    padding: 0;
    margin:0;
  }

p {
    padding: 0;
    margin:0;
  }
  

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--color2);
    align-content: start;
    padding-top: var(--padding-top);
    padding-left: var(--padding-left);
    padding-right: 0.32rem;
    display: grid;
    row-gap: 2.5rem;
    color: var(--color1);
    font-size: var(--font-size-1);
    font-weight: 700;
}

.logo {
    font-weight: 800;
    font-size: calc(var(--font-size-1)*1.5);
}

.logo > li > svg {
    display: flex;
    align-items: center;
}

#dashicon {
    width: calc(var(--font-size-1)*1.5);
    height: calc(var(--font-size-1)*1.5);
    padding-right: 0.5rem;
    fill: var(--color1);;
}

.sidebar > div > ul {
    display: grid;
    row-gap: 0.63rem;
}

.sidebar > div > ul > li {
    display: flex;
    align-items: center;
}

.dashboard {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--color3);
    grid-template-columns: 9fr 4fr;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    overflow: auto;
}

.right_dashboard {
  display: grid;
  grid-column: 2 / 3;
  grid-template-rows: 1fr 1fr;
  padding-right: var(--padding-right);
}

.announcements {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 1.5rem 1fr;
    row-gap: 1rem;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
    padding-bottom: calc(2*var(--padding-top));
}

.right_dashboard > .announcements > .ann-box > div > p {
    text-align: center;
}

.ann-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 0.63rem;
    row-gap: 1rem;
}

.tren-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 0.63rem;
    row-gap: 1rem;
}

.tren-person {
    display: flex;
    column-gap: 1rem;
}

.tren-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.3rem;
}

.ann-text-1,
.ann-text-2,
.ann-text-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending {
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: 1.5rem 1fr;
    row-gap: 15px;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
    padding-bottom: calc(2*var(--padding-top));
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: 1.5rem 1fr;
    row-gap: 1rem;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
    padding-bottom: calc(2*var(--padding-top));
}

.cards {
    display: grid;
    grid-row: 2 / 3;
    row-gap: 1.25rem; 
    column-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
}

.card {
    background-color: var(--color1);
    display: grid;
    padding: 2rem;
    gap: 1rem;
    border-radius: 0.63rem;
    border-left: var(--color4) 1rem solid;
    box-shadow: 0.5rem;
    grid-template-areas: 
        "textc textc"
        "textc textc"
        ". icons";
}

.card-text {
    grid-area: textc;
}

.card-text > p {
    grid-area: textc;
    overflow: hidden;
    font-size: calc(var(--font-size-1)*0.8);
}

h1 {
    font-size: var(--font-size-1);
}

h2 {
    font-size: 1rem;
}

hr {
    width: 80%;
    margin: auto;
}


.title,
.announcements > p,
.trending > p {
    font-size: var(--font-size-1);
    font-weight: 500;
}

.card-icons {
    display: flex;
    grid-area: icons;
    align-items: end;
    justify-content: end;
    gap: 1rem;
}

.pages > ul > li > svg,
.setting > ul > li > svg  {
    width:var(--font-size-1);
    height:var(--font-size-1);
    padding-right: 0.5rem;
    fill: var(--color1);
}

.card-icons > svg {
    width:var(--font-size-1);
    height:var(--font-size-1);
    fill: black;
}

.searchbar > svg,
.account > svg {
    width: 1.9rem;
    height: auto;
    color: var(--color4)
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.9rem;
    font-size: 1.3rem;
    font-weight: 700;
}

#cat {
    width: 3.75rem;
    height: auto;
    border-radius: 100%;
}

#catinfo {
    width: 5.63rem;
    height: auto;
    border-radius: 100%;
}

.tren-person > img {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

@media (max-width:1300px) {
    html {
        font-size: 14px;
    }
}

@media (max-width:1100px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:900px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 13.2rem auto 1fr;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .sidebar {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0.63rem;
        padding: var(--padding-top) var(--padding-left) 0.5rem var(--padding-left);
    }

    .sidebar > div > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.63rem;
    }

    .pages > ul {
        display: flex;
        grid-area: 1 / 1 / 2 / 2;
    }

    .setting > ul {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
    }
    

    .logo {
        display: none;
    }

    .dashboard {
        grid-area: 3 / 1 / 4 / 2;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 10px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 13.2rem auto 1fr;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .sidebar {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0.63rem;
        padding: var(--padding-top) var(--padding-left) 0.5rem var(--padding-left);
    }

    .sidebar > div > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.63rem;
    }

    .pages > ul {
        display: flex;
        grid-area: 1 / 1 / 2 / 2;
    }

    .setting > ul {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
    }
    

    .logo {
        display: none;
    }

    .dashboard {
        grid-area: 3 / 1 / 4 / 2;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 8px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 13.2rem auto 1fr;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .sidebar {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0.63rem;
        padding: var(--padding-top) var(--padding-left) 0.7rem var(--padding-left);
    }

    .sidebar > div > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.63rem;
    }

    .pages > ul {
        display: flex;
        grid-area: 1 / 1 / 2 / 2;
    }

    .setting > ul {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
    }
    

    .logo {
        display: none;
    }

    .dashboard {
        grid-area: 3 / 1 / 4 / 2;
    }
}

@media (max-width: 390px) {
    html {
        font-size: 6px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 13.2rem auto 1fr;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .sidebar {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0.63rem;
        padding: var(--padding-top) var(--padding-left) 0.7rem var(--padding-left);
    }

    .sidebar > div > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.63rem;
    }

    .pages > ul {
        display: flex;
        grid-area: 1 / 1 / 2 / 2;
    }

    .setting > ul {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
    }
    

    .logo {
        display: none;
    }

    .dashboard {
        grid-area: 3 / 1 / 4 / 2;
    }
}
